--extra-index-url https://download.pytorch.org/whl/cpu
torch
langchain
fastapi
uvicorn
langchain_community
pymupdf
python-dotenv
langchain_groq
faiss-cpu
python-docx
sentence-transformers
rank_bm25
python-multipart
docx2txt
